body{
    background: #f9f9f9;
}

.driver_query_body{
    width: 1000px;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.driver_query_top{
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.driver_query_print{
    padding: 10px 20px;
    box-shadow: 6px 6px 10px #e9e9e9;
}

.driver_query_right_btn_line,.drop_down_list_content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.drop_down_list_content{
    height: 35px;
    width: 87px;
    padding: 0 20px;
    border-radius: 5px;
    border: 0;
    background: #fff;
    color: #000;
    box-shadow: 6px 6px 10px #e9e9e9;
    z-index: 11;
}

.drop_down_list_title{
    width: 60px;
    font-size: 15px;
}

.drop_down_list_body,.drop_down_list_body ul{
    width: 127px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    margin-top: 10px;
    border-radius: 5px;
}

.drop_down_list_body{
    position: absolute;
    top: 120px;
    right: 127px;
    z-index: 10;
    box-shadow: 6px 6px 10px #e9e9e9;
}

.drop_down_list_body li{
    width: 100%;
    padding: 10px 0;
    font-size: 15px;
}

.drop_down_list_body li:hover{
    background: rgba(125, 197, 193, 0.1);
}

.driver_query_save{
    padding: 10px 20px;
    box-shadow: 6px 6px 10px #e9e9e9;
}

/*float*/
.driver_func_float{
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    right: 0;
    z-index: 101;
}

.driver_func_item{
    width: 50px;
    height: 50px;
    background: rgba(125, 197, 193, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: #fff solid 1px;
}

.driver_func_item:hover{
    background: #6fb1ad;
}

.driver_func_float img{
    width: 20px;
    height: 20px;
}

.driver_func_float span{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
}

.driver_func_phone_content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 155px;
    right: 55px;
}

.driver_func_phone{
    background: rgba(125, 197, 193, 0.7);
    padding: 20px;
    color: #fff;
}

.driver_func_signin_content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 104px;
    right: 55px;
}

.driver_func_signin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(125, 197, 193, 0.7);
    padding: 20px;
    color: #fff;
}

.driver_func_signin_link,.driver_func_note_send{
    color: #ff911e;
    font-size: 13px;
    margin-top: 5px;
}

.driver_func_note_content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    right: 55px;
}

.driver_func_note{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    background: rgba(125, 197, 193, 0.7);
    padding: 20px;
    color: #fff;
}

.driver_func_note textarea{
    height: 130px;
    background: none;
    border: rgba(255, 255, 255, 0.5) solid 1px;
    border-radius: 5px;
    resize: none;
    padding: 5px;
    margin: 5px 0;
    color: #fff;
}