body{
    margin: 0;
    padding: 0;
}

input{
    height: 30px;
    border-radius: 5px;
    border: 0;
    box-shadow: 1px 1px 6px #e9e9e9;
    text-indent: 1em;
    font-size: 14px;
}

button{
    height: 35px;
    border-radius: 5px;
    border: 0;
    background: #7dc5c1;
    color: #fff;
}

button:hover{
    background: #88d7d3;
}

/*滑块验证********************/
.drag{
    width: 200px;
    height: 30px;
    line-height: 30px;
    background-color: rgba(255, 255, 255, 0);
    position: relative;
    margin: 20px 0 5px;
    border-radius: 5px;
    border: rgb(255, 242, 254) solid 2px;
    color: #fff;
}

.bg{
    width: 30px;
    height: 100%;
    position: absolute;
    background-color: #ff664b;
    border-radius: 5px;
}

.text{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    user-select: none;
    font-size: 14px;
}

.btn{
    width:30px;
    height: 100%;
    position: absolute;
    cursor: move;
    text-align: center;
    background-color: #fff;
    user-select: none;
    color:#666;
    border-radius: 5px;
}
/******************************/